@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans Adi</th>
        <th>Referans Ünvan</th>
        <th>Referans Görseli</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a href="/testimonials/DeleteTestimonials/@item.Id" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/testimonials/UpdateTestimonials/@item.Id" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-outline-dark">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/testimonials/AddTestimonials/" class="btn btn-info">Yeni Personel Girisi</a>